.customizer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  height: 100%;
  &__back-btn {
    position: absolute;
    z-index: 10;
    top: 5%;
    right: 5%;
  }
  &__wrapper {
    position: relative;
    align-self: center;
    display: flex;
  }
}